Gondro, Cedric - Primer to Analysis of Genomic Data Using R-Springer International Publishing (2015).epub
Introduction to Quantitative Genetics 3rd Edition by D S Falconer (z-lib.org).pdf
Mackay, Trudy F. C._ Falconer, D. S. - Introduction to quantitative genetics-Pearson, Prentice Hall (2009).pdf
QuantitativeGeneticsNotes.bak
QuantitativeGeneticsNotes.tmdx
Self_Assessment.bak
Self_Assessment.tmdx
VETM690_Course Outline Quantitative Genetics.docx
VETM690_Course Outline Quantitative Genetics_final.docx

